@page "/"

<PageTitle>Home</PageTitle>

<h1>CS3500 PS9: Snake Game Client</h1>
<h2>By Team Nerd Ropes (Claire Park and Alissa Shaw)</h2>

<p>Our current game implementation has the following features:</p>
<p>
    - As per instructions, re-connecting after disconnecting (such as leaving the Snake page, refreshing, etc.,) is not supported.
    The GUI will notify you if the initial connection attempt has failed and you can try connecting again.
</p>
<p>   - Use w, a, s, d keys for movement. </p>
<p>   - Player names should be shorter than 16 characters. </p>
<p>   - Currently stress tested with up to 5 AI clients. </p>
<p>   - Respawns automatically. </p>
