@page "/"

<PageTitle>Home</PageTitle>

<h1>CS3500 PS8: Networking</h1>

By Claire Park and Alissa Shaw (nerd ropes).

<br />
- After connecting, please enter your name to send messages.
<br />
- Reconnecting after disconnecting is not supported. Please open a new client to reconnect.