@page "/Snake"
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using Microsoft.AspNetCore.Components

@inject IJSRuntime jsRuntime
<div id="drawCanvas" style="position:fixed; width:100%">
    <BECanvas width="100" height="100"></BECanvas>
</div>

@code {
    private BECanvasComponent canvasReference = null;
    private Canvas2DContext context = null;
    private const int Height = 1000;
    private const int Width = 1000;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.context = await this.canvasReference.CreateCanvas2DAsync();

            GameLoop();
        }
    }

    private void GameLoop()
    {
        while (true)
        {
            Thread.Sleep(20);
            DrawFrame();
        }
    }

    private async Task DrawFrame()
    {
        await context.SetFillStyleAsync("green");
        await context.FillRectAsync(0, 0, 100, 100);
        await context.EndBatchAsync();

        StateHasChanged();
    }
}